@page
@using RamonsPizzeria.Models

@model RamonsPizzeria.Pages.CheckOut.ThankYouModel

@{
    var orderId = Model.OrderId;
    var orderPrice = Model.OrderPrice;
    var orderImage = $"/images/{Model.OrderImageName}.png";
    var orderName = Model.OrderName;
}

<body style="background-color: darkred">

    <div class="card text-center">

        <div class="card-header alert-danger text-capitalize">
            thank you
        </div>

        <div class="card-body" style="background-color: black">
            <!--Place order-->
            <div class="card-header mb-2 alert-danger text-capitalize">
                Order: #@orderId
            </div>

            <div class="card-body">

                @if (!string.IsNullOrEmpty(Model.OrderImageName) && !string.IsNullOrWhiteSpace(Model.OrderImageName) && Model.OrderName == "Tee's Custom Pizza")
                {
                    <div class="p-2">
                        <img src=@orderImage
                         asp-append-version="true"
                         width="150"
                         class="img-thumbnail mb-3"
                         alt=""
                         title="@Model.OrderImageName" />
                    </div>

                    <div class="mt-1 mb-3 text-capitalize"
                     style="font-family: cursive; color:white">
                        <h3>@orderName</h3>
                    </div>

                    <div class="mt-1 mb-3 text-capitalize"
                     style="font-family: cursive; color:gold">
                        <h4 class="text-decoration-underline">
                            Ingredients
                        </h4>
                    </div>

                    <div class="mt-1 mb-3 text-capitalize"
                     style="font-family: cursive; color:white">
                        @if (MockIngredientsDB.Ingredients != null)
                            @foreach (var ingredient in MockIngredientsDB.Ingredients)
                            {
                                <h6>@ingredient</h6>
                            }
                    </div>

                    <div class="mt-3 mb-3 text-capitalize"
                     style="font-family: cursive; color: gold">
                        <h5><em>Will be ready in the next 15-30min!</em></h5>
                    </div>
                }
                else
                {
                    <div class="p-2">
                        <img src=@orderImage
                         asp-append-version="true"
                         width="150"
                         class="img-thumbnail mb-3"
                         alt=""
                         title="@Model.OrderImageName" />
                    </div>

                    <div class="mt-1 mb-3 text-capitalize"
                     style="font-family: cursive; color:white">
                        <h3>@orderName</h3>
                    </div>

                    <div class="mt-3 mb-3 text-capitalize"
                     style="font-family: cursive; color: gold">
                        <h3><em>Will be ready in the next 15-30min!</em></h3>
                    </div>
                }
            </div>
        </div>

        <div class="card-footer alert-danger">
            <h5>Total: @string.Format("{0:c2}", @orderPrice)</h5>
        </div>

    </div>

</body>